.cell {
  margin: 10px;
  background-color: white;
  flex-shrink: 1;
  flex-basis: 33%;
  height: 300px;
  text-align: center;
}

.cell img {
  margin-top: 10px;
  width: 94%;
  height: 50%;
}

.cell h5 {
  text-align: center;
  margin: 0.6rem;
  font-size: medium;
}