.box-list {
  grid-column: 1/5;
  display: flex;
  border: 1rem solid white;
  background-color: white;
  margin-top: 2em;
  margin-bottom: 2em;
  align-items: flex-start;
  position: relative;
}

img {
  width: 100%;
  height: 100%;
}

.img-field {
  flex: 1;
  width: 200px;
  height: 220px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 0;
}

.text-field {
  flex: 4;
  padding: 1em;
}

.plain-field {
  margin-top: 2rem;
}

.img-field img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  max-height: max-content;
  transform: translate(-50%, -50%);
}