.container {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: grid;
  justify-content: start;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 2em;
  grid-gap: 1em;
  background-color: lightcyan;
}